<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>은행거래 필요서류 수정</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin_category.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_documentModify.css}">
    <link rel="stylesheet" th:href="@{/css/common/style_font.css}"> <!-- 공용 폰트 -->
    <script th:src="@{/js/admin/admin_category.js}"></script>
</head>
<body>
    <div class="container" style="display: flex;">
        <!-- 왼쪽 사이드바 - Fragment 사용 -->
        <div th:replace="~{admin/_adminSidebar :: sidebar}"></div>

        <div class="main-right">
            <div class="faq_title">
                <span class="title_sp">은행거래 필요서류 수정</span>
            </div>

            <form th:action="@{/admin/docu/modify}" method="post">
                <input type="hidden" name="docId" th:value="${documentsDTO.docId}">
                <table>
                    <tr>
                        <th>유형</th>
                        <td>
                            <select name="docCategory">
                                <option>선택</option>
                                <option th:selected="${documentsDTO.groupCode == 'DOC_TYPE' && documentsDTO.docCategory == '01'}" th:value="'01'">수신</option>
                                <option th:selected="${documentsDTO.groupCode == 'DOC_TYPE' && documentsDTO.docCategory == '02'}" th:value="'02'">신탁</option>
                                <option th:selected="${documentsDTO.groupCode == 'DOC_TYPE' && documentsDTO.docCategory == '03'}" th:value="'03'">대출</option>
                                <option th:selected="${documentsDTO.groupCode == 'DOC_TYPE' && documentsDTO.docCategory == '04'}" th:value="'04'">WM</option>
                                <option th:selected="${documentsDTO.groupCode == 'DOC_TYPE' && documentsDTO.docCategory == '05'}" th:value="'05'">카드</option>
                                <option th:selected="${documentsDTO.groupCode == 'DOC_TYPE' && documentsDTO.docCategory == '06'}" th:value="'06'">외환</option>
                                <option th:selected="${documentsDTO.groupCode == 'DOC_TYPE' && documentsDTO.docCategory == '07'}" th:value="'07'">전자금융</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td>
                            <input type="text" name="title" id="title" placeholder="제목을 입력하세요" th:value="${documentsDTO.title}">
                        </td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td>
                            <textarea name="content" placeholder="내용을 입력하세요" th:text="${documentsDTO.content}">
                            </textarea>
                        </td>
                    </tr>
                </table>

                <div class="bottom-bar">
                    <button type="button" class="btn2" th:onclick="|location.href='@{/admin/docu/list}'|">취소하기</button>
                    <button type="submit" class="btn">등록하기</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>