<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>은행거래 필요서류 수정</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin_category.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_documentModify.css}">
    <link rel="stylesheet" th:href="@{/css/common/style_font.css}"> <!-- 공용 폰트 -->
    <script th:src="@{/js/admin/admin_category.js}"></script>
</head>
<body>
    <div class="container" style="display: flex;">
        <div class="main-left">
            <img th:src="@{/images/admin/Busanbank_CI-W.png}" alt="BNK 부산은행" class="main-logo">
            <!-- 로그인 상태 -->
            <div sec:authorize="isAuthenticated()" class="first-line">
                <span class="name_sp" sec:authentication="name"></span>
                <div class="name-right">
                    <span class="welcome_sp">환영합니다!</span>
                    <a th:href="@{/admin/logout}" class="logout_btn">
                        <img th:src="@{/images/admin/log-out.png}" alt="로그아웃 버튼" class="logout_img">
                    </a>
                </div>
            </div>

            <!-- 비로그인 상태 -->
            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/admin/login}" class="login_btn">로그인</a>
            </div>

            <div class="search-box">
                <input type="text" id="search_input" placeholder="Search...">
                <button class="search_btn">
                    <img  th:src="@{/images/admin/magnifier.png}" alt="검색 버튼" class="search_img">
                </button>
            </div>

            <div class="category1">
                <div class="category1_img_div">
                    <img th:src="@{/images/admin/cogwheel.png}" alt="환경설정" style="width: 26px;height: 26px;">
                </div>
                <span class="category_sp">환경설정</span>
            </div>
            <ul class="category1-ul">
                <li class="category-li"><a href="#" class="category-a">권리자 계정관리</a></li>
                <li class="category-li"><a href="#" class="category-a">보안 설정</a></li>
                <li class="category-li"><a href="#" class="category-a">인증서/OTP 관리</a></li>
                <li class="category-li"><a href="#" class="category-a">사이트 기본 설정</a></li>
                <li class="category-li"><a href="#" class="category-a">정책·약관 관리</a></li>
                <li class="category-li"><a href="#" class="category-a">API 키 / 외부 연동 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/category}" class="category-a">카테고리 관리</a></li>
            </ul>

            <div class="category2">
                <div class="category2_img_div">
                    <img th:src="@{/images/admin/banknotes.png}" alt="은행 상품 관리" style="width: 26px;height: 26px;">
                </div>
                <span class="category_sp">상품 목록 관리</span>
            </div>
            <ul class="category2-ul">
                <li class="category-li"><a href="#" class="category-a">상품 목록 관리</a></li>
                <li class="category-li"><a href="#" class="category-a">상품 상세 관리</a></li>
                <li class="category-li"><a href="#" class="category-a">상품 약관 관리</a></li>
                <li class="category-li"><a href="#" class="category-a">상품 분류 관리</a></li>
                <li class="category-li"><a href="#" class="category-a">금리·환율 관리</a></li>
                <li class="category-li"><a href="#" class="category-a">상품 가입 현황 관리</a></li>
                <li class="category-li"><a href="#" class="category-a">금융 감정 분석 관리</a></li>
                <li class="category-li"><a href="#" class="category-a">비트코인/금/오일 시세 관리</a></li>
                <li class="category-li"><a href="#" class="category-a">상품 번역 관리</a></li>
            </ul>

            <div class="category3">
                <div class="category3_img_div">
                    <img th:src="@{/images/admin/user.png}" alt="회원 관리" style="width: 26px;height: 26px;">
                </div>
                <span class="category_sp">회원 관리</span>
            </div>
            <ul class="category3-ul">
                <li class="category-li"><a th:href="@{/admin/member/list}" class="category-a">회원 목록 관리</a></li>
            </ul>

            <div class="category4">
                <div class="category4_img_div">
                    <img th:src="@{/images/admin/list.png}" alt="게시판 관리" style="width: 26px;height: 26px;">
                </div>
                <span class="category_sp">게시판 관리</span>
            </div>
            <ul class="category4-ul">
                <li class="category-li"><a th:href="@{/admin/report/list}" class="category-a">보도자료 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/notice/list}" class="category-a">공지사항 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/event/list}" class="category-a">이벤트 관리</a></li>
            </ul>

            <div class="category5">
                <div class="category5_img_div">
                    <img th:src="@{/images/admin/receiver.png}" alt="고객센터 관리" style="width: 26px;height: 26px;">
                </div>
                <span class="category_sp">고객센터 관리</span>
            </div>
            <ul class="category5-ul">
                <li class="category-li"><a th:href="@{/admin/faq/list}" class="category-a">FAQ 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/docu/list}" class="category-a">은행거래 필요서류 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/counsel/list}" class="category-a">이메일 상담 관리</a></li>
            </ul>

            <div class="footer_div">
                <span>COPYRIGHT <br>
                    © 2014 BUSANBANK. ALL RIGHTS RESERVED.
                </span>
            </div>
        </div>

        <div class="main-right">
            <div class="faq_title">
                <span class="title_sp">은행거래 필요서류 수정</span>
            </div>

            <form th:action="@{/admin/docu/modify}" method="post">
                <input type="hidden" name="docId" th:value="${documentsDTO.docId}">
                <table>
                    <tr>
                        <th>유형</th>
                        <td>
                            <select name="docCategory">
                                <option>선택</option>
                                <option th:selected="${documentsDTO.groupCode == 'DOC_TYPE' && documentsDTO.docCategory == '01'}" th:value="'01'">수신</option>
                                <option th:selected="${documentsDTO.groupCode == 'DOC_TYPE' && documentsDTO.docCategory == '02'}" th:value="'02'">신탁</option>
                                <option th:selected="${documentsDTO.groupCode == 'DOC_TYPE' && documentsDTO.docCategory == '03'}" th:value="'03'">대출</option>
                                <option th:selected="${documentsDTO.groupCode == 'DOC_TYPE' && documentsDTO.docCategory == '04'}" th:value="'04'">WM</option>
                                <option th:selected="${documentsDTO.groupCode == 'DOC_TYPE' && documentsDTO.docCategory == '05'}" th:value="'05'">카드</option>
                                <option th:selected="${documentsDTO.groupCode == 'DOC_TYPE' && documentsDTO.docCategory == '06'}" th:value="'06'">외환</option>
                                <option th:selected="${documentsDTO.groupCode == 'DOC_TYPE' && documentsDTO.docCategory == '07'}" th:value="'07'">전자금융</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td>
                            <input type="text" name="title" id="title" placeholder="제목을 입력하세요" th:value="${documentsDTO.title}">
                        </td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td>
                            <textarea name="content" placeholder="내용을 입력하세요" th:text="${documentsDTO.content}">
                            </textarea>
                        </td>
                    </tr>
                </table>

                <div class="bottom-bar">
                    <button type="button" class="btn2" th:onclick="|location.href='@{/admin/docu/list}'|">취소하기</button>
                    <button type="submit" class="btn">등록하기</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>