<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 메인</title>
    <link rel="stylesheet" th:href="@{/css/admin/adminMain.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_category.css}">
    <link rel="stylesheet" th:href="@{/css/common/style_font.css}"> <!-- 공용 폰트 -->

    <script th:src="@{/js/admin/admin_category.js}"></script>
    <script th:src="@{/js/admin/adminMain.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2" defer></script>
</head>
<body>
    <div class="container" style="display: flex;">
        <div class="main-left">
            <img th:src="@{/images/admin/Busanbank_CI-W.png}" alt="BNK 부산은행" class="main-logo">
            <!-- 로그인 상태 -->
            <div sec:authorize="isAuthenticated()" class="first-line">
                <span class="name_sp" sec:authentication="name"></span>
                <div class="name-right">
                    <span class="welcome_sp">환영합니다!</span>
                    <a th:href="@{/admin/logout}" class="logout_btn">
                        <img th:src="@{/images/admin/log-out.png}" alt="로그아웃 버튼" class="logout_img">
                    </a>
                </div>
            </div>

            <!-- 비로그인 상태 -->
            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/admin/login}" class="login_btn">로그인</a>
            </div>

            <div class="search-box">
                <input type="text" id="search_input" placeholder="Search...">
                <button class="search_btn">
                    <img th:src="@{/images/admin/magnifier.png}" alt="검색 버튼" class="search_img">
                </button>
            </div>

            <div class="category1">
                <div class="category1_img_div">
                    <img th:src="@{/images/admin/cogwheel.png}" alt="환경설정" style="width: 26px;height: 26px;">
                </div>
                <span class="category_sp">환경설정</span>
            </div>
            <ul class="category1-ul">
                <li class="category-li"><a th:href="@{/admin/setting}" class="category-a">권리자 계정관리</a></li>
                <li class="category-li"><a th:href="@{/admin/setting?tab=security}" class="category-a">보안 설정</a></li>
                <li class="category-li"><a th:href="@{/admin/setting?tab=certificate}" class="category-a">인증서/OTP 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/setting?tab=site}" class="category-a">사이트 기본 설정</a></li>
                <li class="category-li"><a th:href="@{/admin/setting?tab=policy}" class="category-a">정책·약관 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/setting?tab=api}" class="category-a">API 키 / 외부 연동 관리</a></li>
            </ul>

            <div class="category2">
                <div class="category2_img_div">
                    <img th:src="@{/images/admin/banknotes.png}" alt="은행 상품 관리" style="width: 26px;height: 26px;">
                </div>
                <span class="category_sp">상품 목록 관리</span>
            </div>
            <ul class="category2-ul">
                <li class="category-li"><a th:href="@{/admin/product}" class="category-a">상품 목록 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/product?tab=productDetail}" class="category-a">상품 상세 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/product?tab=productTerms}" class="category-a">상품 약관 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/product?tab=productCategory}" class="category-a">상품 분류 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/product?tab=rateExchange}" class="category-a">금리·환율 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/product?tab=productSubscriber}" class="category-a">상품 가입 현황 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/product?tab=sentiment}" class="category-a">금융 감정 분석 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/product?tab=market}" class="category-a">비트코인/금/오일 시세 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/product?tab=translation}" class="category-a">상품 번역 관리</a></li>
            </ul>

            <div class="category3">
                <div class="category3_img_div">
                    <img th:src="@{/images/admin/user.png}" alt="회원 관리" style="width: 26px;height: 26px;">
                </div>
                <span class="category_sp">회원 관리</span>
            </div>
            <ul class="category3-ul">
                <li class="category-li"><a th:href="@{/admin/member/list}" class="category-a">회원 목록 관리</a></li>
            </ul>

            <div class="category4">
                <div class="category4_img_div">
                    <img th:src="@{/images/admin/list.png}" alt="게시판 관리" style="width: 26px;height: 26px;">
                </div>
                <span class="category_sp">게시판 관리</span>
            </div>
            <ul class="category4-ul">
                <li class="category-li"><a th:href="@{/admin/report/list}" class="category-a">보도자료 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/notice/list}" class="category-a">공지사항 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/event/list}" class="category-a">이벤트 관리</a></li>
            </ul>

            <div class="category5">
                <div class="category5_img_div">
                    <img th:src="@{/images/admin/receiver.png}" alt="고객센터 관리" style="width: 26px;height: 26px;">
                </div>
                <span class="category_sp">고객센터 관리</span>
            </div>
            <ul class="category5-ul">
                <li class="category-li"><a th:href="@{/admin/faq/list}" class="category-a">FAQ 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/docu/list}" class="category-a">은행거래 필요서류 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/counsel/list}" class="category-a">이메일 상담 관리</a></li>
            </ul>

            <div class="footer_div">
                <span>COPYRIGHT <br>
                    © 2014 BUSANBANK. ALL RIGHTS RESERVED.
                </span>
            </div>
        </div>

        <div class="main-right">
            <div class="main_grape main_grape1">
                <div class="main_grape_title main_grape_title1">
                    <span class="menu_sp">상품 유형별 가입 비율</span>
                    <a href="#" class="menu_text_btn">
                        <img th:src="@{/images/admin/fast-forward-double-right-arrows-symbol.png}" alt="상품 유형 버튼" class="move_img">
                    </a>
                </div>

                <div class="main_content">
                    <span class="chart-timestamp current_timestamp"></span>

                    <div class="chart-wrapper">
                        <canvas id="product_pieChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="main_grape main_grape2">
                <div class="main_grape_title main_grape_title1">
                    <span class="menu_sp">고객 연령대별 비율</span>
                    <a href="#" class="menu_text_btn">
                        <img th:src="@{/images/admin/fast-forward-double-right-arrows-symbol.png}" alt="상품 유형 버튼" class="move_img">
                    </a>
                </div>

                <div class="main_content">
                    <span class="chart-timestamp current_timestamp"></span>

                    <div class="chart-wrapper">
                        <canvas id="client_pieChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="main_grape main_grape3">
                <div class="main_grape_title main_grape_title1">
                    <span class="menu_sp">판매 많은 상품</span>
                    <a href="#" class="menu_text_btn">
                        <img th:src="@{/images/admin/fast-forward-double-right-arrows-symbol.png}" alt="상품 유형 버튼" class="move_img">
                    </a>
                </div>

                <div class="main_content">
                    <div class="content_title">
                        <span class="content_title_sp">Page Url</span>
                        <span class="content_title_sp">Sold</span>
                    </div>
                    <ul style="width: 430px;margin-top: 15px;">
                        <li class="content_li">
                            <a href="#" class="content_a_sp">1. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">32</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">2. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">28</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">3. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">25</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">4. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">21</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">5. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">18</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">6. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">14</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">7. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">11</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">8. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">9</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main_grape main_grape4">
                <div class="main_grape_title main_grape_title2">
                    <div>
                        <span class="menu_sp">고객센터 관리</span>
                        <span class="menu_sp2">고객문의, 상담, 민원 등 응대 현황</span>
                    </div>
                    <a href="#" class="menu_text_btn">
                        <img th:src="@{/images/admin/fast-forward-double-right-arrows-symbol.png}" alt="상품 유형 버튼" class="move_img">
                    </a>
                </div>

                <div class="main_content2">
                    <div>
                        <span class="consultation_title">고객상담</span>
                        <div class="chart-wrapper2">
                            <canvas id="consultation_chart"></canvas>
                        </div>
                    </div>
                    <div style="margin-left: 33px;">
                        <span class="consultation_title">챗봇문의</span>
                        <div class="chart-wrapper2">
                            <canvas id="chatBot_chart"></canvas>
                        </div>
                    </div>
                    <div style="margin-left: 33px;">
                        <span class="consultation_title">금융민원</span>
                        <div class="chart-wrapper2">
                            <canvas id="finance_Chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main_grape main_grape5">
                <div class="main_grape_title main_grape_title1">
                    <span class="menu_sp">조회 많은 상품</span>
                    <a href="#" class="menu_text_btn">
                        <img th:src="@{/images/admin/fast-forward-double-right-arrows-symbol.png}" alt="상품 유형 버튼" class="move_img">
                    </a>
                </div>

                <div class="main_content">
                    <div class="content_title">
                        <span class="content_title_sp">Page Url</span>
                        <span class="content_title_sp">HIT</span>
                    </div>
                    <ul style="width: 430px;margin-top: 15px;">
                        <li class="content_li">
                            <a href="#" class="content_a_sp">1. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">1,589</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">2. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">1,145</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">3. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">984</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">4. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">876</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">5. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">648</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">6. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">549</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">7. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">387</span>
                        </li>
                        <li class="content_li">
                            <a href="#" class="content_a_sp">8. https://www.busanbank.co.kr/ib20/mnu/FPMFRX1820…</a>
                            <span class="content_a_sp">259</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</body>
</html>