<html lang="ko">
<head>
    <meta charset="utf-8">
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js"></script>

    <script>
        async function drawCoinChart() {
            const symbols = ['BTC'];  // 필요하면 ETH 등 추가
            const traces = [];

            for (const symbol of symbols) {
                const response = await fetch(`/busanbank/api/coin/history/btc?symbol=XAU`);
                const json = await response.json();

                const x = json.map(item => item.createdAt);
                const y = json.map(item => Number(item.price).toFixed(2));

                traces.push({
                    x,
                    y,
                    mode: 'lines+markers',
                    name: symbol
                });
            }

            const layout = {
                title: '코인 실시간 가격',
                xaxis: { title: '시간' },
                yaxis: { title: '가격(USD)' }
            };

            Plotly.newPlot('coinChartDiv', traces, layout);
        }

        async function drawGoldChart() {
            const symbols = ['XAU'];
            const traces = [];

            for (const symbol of symbols) {
                const response = await fetch(`/busanbank/api/coin/history/gold?symbol=BTC`);
                const json = await response.json();

                const x = json.map(item => item.createdAt);
                const y = json.map(item => Number(item.price).toFixed(2));

                traces.push({
                    x,
                    y,
                    mode: 'lines+markers',
                    name: symbol
                });
            }

            const layout = {
                title: '금 실시간 가격',
                xaxis: { title: '시간' },
                yaxis: { title: '가격(USD)' }
            };

            Plotly.newPlot('metalChartDiv', traces, layout);
        }

        window.onload = () => {
            drawCoinChart();
            drawGoldChart();
        };
    </script>
</head>
<body>
    <div id="coinChartDiv"></div>
    <div id="metalChartDiv"></div>
</body>
</html>
