<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 이메일 상담 관리</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin_category.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_emailCounselList.css}">
    <link rel="stylesheet" th:href="@{/css/common/style_font.css}"> <!-- 공용 폰트 -->
    <script th:src="@{/js/admin/admin_category.js}"></script>
</head>
<body>
    <div class="container" style="display: flex;">
        <div class="main-left">
            <img th:src="@{/images/admin/Busanbank_CI-W.png}" alt="BNK 부산은행" class="main-logo">
            <!-- 로그인 상태 -->
            <div sec:authorize="isAuthenticated()" class="first-line">
                <span class="name_sp" sec:authentication="name"></span>
                <div class="name-right">
                    <span class="welcome_sp">환영합니다!</span>
                    <a th:href="@{/admin/logout}" class="logout_btn">
                        <img th:src="@{/images/admin/log-out.png}" alt="로그아웃 버튼" class="logout_img">
                    </a>
                </div>
            </div>

            <!-- 비로그인 상태 -->
            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/admin/login}" class="login_btn">로그인</a>
            </div>

            <div class="search-box">
                <input type="text" id="search_input" placeholder="Search...">
                <button class="search_btn">
                    <img  th:src="@{/images/admin/magnifier.png}" alt="검색 버튼" class="search_img">
                </button>
            </div>

            <div class="category1">
                <div class="category1_img_div">
                    <img th:src="@{/images/admin/cogwheel.png}" alt="환경설정" style="width: 26px;height: 26px;">
                </div>
                <span class="category_sp">환경설정</span>
            </div>
            <ul class="category1-ul">
                <li class="category-li"><a href="#" class="category-a">권리자 계정관리</a></li>
                <li class="category-li"><a href="#" class="category-a">보안 설정</a></li>
                <li class="category-li"><a href="#" class="category-a">인증서/OTP 관리</a></li>
                <li class="category-li"><a href="#" class="category-a">사이트 기본 설정</a></li>
                <li class="category-li"><a href="#" class="category-a">정책·약관 관리</a></li>
                <li class="category-li"><a href="#" class="category-a">API 키 / 외부 연동 관리</a></li>
            </ul>

            <div class="category2">
                <div class="category2_img_div">
                    <img th:src="@{/images/admin/banknotes.png}" alt="은행 상품 관리" style="width: 26px;height: 26px;">
                </div>
                <span class="category_sp">상품 목록 관리</span>
            </div>
            <ul class="category2-ul">
                <li class="category-li"><a href="#" class="category-a">상품 목록 관리</a></li>
                <li class="category-li"><a href="#" class="category-a">상품 상세 관리</a></li>
                <li class="category-li"><a href="#" class="category-a">상품 약관 관리</a></li>
                <li class="category-li"><a href="#" class="category-a">상품 분류 관리</a></li>
                <li class="category-li"><a href="#" class="category-a">금리·환율 관리</a></li>
                <li class="category-li"><a href="#" class="category-a">상품 가입 현황 관리</a></li>
                <li class="category-li"><a href="#" class="category-a">금융 감정 분석 관리</a></li>
                <li class="category-li"><a href="#" class="category-a">비트코인/금/오일 시세 관리</a></li>
                <li class="category-li"><a href="#" class="category-a">상품 번역 관리</a></li>
            </ul>

            <div class="category3">
                <div class="category3_img_div">
                    <img th:src="@{/images/admin/user.png}" alt="회원 관리" style="width: 26px;height: 26px;">
                </div>
                <span class="category_sp">회원 관리</span>
            </div>
            <ul class="category3-ul">
                <li class="category-li"><a th:href="@{/admin/member/list}" class="category-a">회원 목록 관리</a></li>
            </ul>

            <div class="category4">
                <div class="category4_img_div">
                    <img th:src="@{/images/admin/list.png}" alt="게시판 관리" style="width: 26px;height: 26px;">
                </div>
                <span class="category_sp">게시판 관리</span>
            </div>
            <ul class="category4-ul">
                <li class="category-li"><a th:href="@{/admin/report/list}" class="category-a">보도자료 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/notice/list}" class="category-a">공지사항 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/event/list}" class="category-a">이벤트 관리</a></li>
            </ul>

            <div class="category5">
                <div class="category5_img_div">
                    <img th:src="@{/images/admin/receiver.png}" alt="고객센터 관리" style="width: 26px;height: 26px;">
                </div>
                <span class="category_sp">고객센터 관리</span>
            </div>
            <ul class="category5-ul">
                <li class="category-li"><a th:href="@{/admin/faq/list}" class="category-a">FAQ 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/docu/list}" class="category-a">은행거래 필요서류 관리</a></li>
                <li class="category-li"><a th:href="@{/admin/counsel/list}" class="category-a">이메일 상담 관리</a></li>
            </ul>

            <div class="footer_div">
                <span>COPYRIGHT <br>
                    © 2014 BUSANBANK. ALL RIGHTS RESERVED.
                </span>
            </div>
        </div>

        <div class="main-right">
            <div class="faq_title">
                <span class="title_sp">이메일 상담 관리</span>
            </div>

            <form action="#" method="post" class="search_form">
                <input type="text" name="keyword" class="search-input">
                <input type="submit" class="search-btn" value="검색">
            </form>

            <table>
                <tr style="background-color: #E1545A;color:white;">
                    <th style="border-radius: 5px 0 0 0;">No.</th>
                    <th>유형</th>
                    <th>제목</th>
                    <th>날짜</th>
                    <th>상태</th>
                    <th style="border-radius: 0 5px 0 0;">관리</th>
                </tr>
                <tr class="content_tr detailBtn">
                    <td>10</td>
                    <td>예금</td>
                    <td>예금 계좌 개설 관련 문의</td>
                    <td>25.11.10</td>
                    <td class="status1">답변완료</td>
                    <td>
                        <a th:href="@{/admin/counsel/view}" class="answer_btn">상세보기</a>
                    </td>
                </tr>
                <tr class="content_tr detailBtn">
                    <td>9</td>
                    <td>예금</td>
                    <td>예금 이자 지급일 안내 문의</td>
                    <td>25.11.10</td>
                    <td class="status2">검토중</td>
                    <td>
                        <a th:href="@{/admin/counsel/write}" class="answer_btn">상세보기</a>
                    </td>
                </tr>
                <tr class="content_tr detailBtn">
                    <td>8</td>
                    <td>예금</td>
                    <td>예금 자동이체 설정 문의</td>
                    <td>25.11.10</td>
                    <td class="status2">검토중</td>
                    <td>
                        <a th:href="@{/admin/counsel/write}" class="answer_btn">상세보기</a>
                    </td>
                </tr>
                <tr class="content_tr detailBtn">
                    <td>7</td>
                    <td>예금</td>
                    <td>예금 잔액 확인 요청</td>
                    <td>25.11.10</td>
                    <td class="status1">답변완료</td>
                    <td>
                        <a th:href="@{/admin/counsel/view}" class="answer_btn">상세보기</a>
                    </td>
                </tr>
                <tr class="content_tr detailBtn">
                    <td>6</td>
                    <td>예금</td>
                    <td>예금 만기 안내 및 재예치 방법</td>
                    <td>25.11.10</td>
                    <td class="status1">답변완료</td>
                    <td>
                        <a th:href="@{/admin/counsel/view}" class="answer_btn">상세보기</a>
                    </td>
                </tr>
                <tr class="content_tr detailBtn">
                    <td>5</td>
                    <td>대출</td>
                    <td>대출 연체 관련 문의</td>
                    <td>25.11.10</td>
                    <td class="status1">답변완료</td>
                    <td>
                        <a th:href="@{/admin/counsel/view}" class="answer_btn">상세보기</a>
                    </td>
                </tr>
                <tr class="content_tr detailBtn">
                    <td>4</td>
                    <td>대출</td>
                    <td>중도 상환 수수료 문의</td>
                    <td>25.11.10</td>
                    <td class="status2">검토중</td>
                    <td>
                        <a th:href="@{/admin/counsel/write}" class="answer_btn">상세보기</a>
                    </td>
                </tr>
                <tr class="content_tr detailBtn">
                    <td>3</td>
                    <td>대출</td>
                    <td>대출 신청 서류 확인 요청</td>
                    <td>25.11.10</td>
                    <td class="status1">답변완료</td>
                    <td>
                        <a th:href="@{/admin/counsel/view}" class="answer_btn">상세보기</a>
                    </td>
                </tr>
                <tr class="content_tr detailBtn">
                    <td>2</td>
                    <td>대출</td>
                    <td>대출 금리 비교 상담 요청</td>
                    <td>25.11.10</td>
                    <td class="status1">답변완료</td>
                    <td>
                        <a th:href="@{/admin/counsel/view}" class="answer_btn">상세보기</a>
                    </td>
                </tr>
                <tr class="content_tr detailBtn">
                    <td>1</td>
                    <td>대출</td>
                    <td>주택담보대출 금리 문의</td>
                    <td>25.11.10</td>
                    <td class="status1">답변완료</td>
                    <td>
                        <a th:href="@{/admin/counsel/view}" class="answer_btn">상세보기</a>
                    </td>
                </tr>
            </table>

            <div class="page_div">
                <ul class="pagenation">
                    <li><a href="#" class="page2"><span class="prev"></span></a></li>
                    <li><a href="#" class="page1">1</a></li>
                    <li><a href="#" class="page2">2</a></li>
                    <li><a href="#" class="page2">3</a></li>
                    <li><a href="#" class="page2"><span class="next"></span></a></li>
                </ul>
            </div>

        </div>
    </div>
</body>
</html>