<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 이메일 상담 작성</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin_category.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_emailCounselWrite.css}">
    <link rel="stylesheet" th:href="@{/css/common/style_font.css}"> <!-- 공용 폰트 -->
    <script th:src="@{/js/admin/admin_category.js}"></script>
</head>
<body>
    <div class="container" style="display: flex;">
        <!-- 왼쪽 사이드바 - Fragment 사용 -->
        <div th:replace="~{admin/_adminSidebar :: sidebar}"></div>

        <div class="main-right">
            <div class="faq_title">
                <span class="title_sp">관리자 이메일 상담 작성</span>
            </div>

            <form action="#" method="post" class="table_div">
                <input type="hidden" name="ecounselId" th:value="${emailCounselDTO.ecounselId}">
                <table>
                    <tr>
                        <th>유형</th>
                        <td class="radius_td1">[[${emailCounselDTO.emailType}]]</td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td>
                            [[${emailCounselDTO.title}]]
                        </td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td class="radius_td2">
                            [[${emailCounselDTO.content}]]
                        </td>
                    </tr>
                    <tr>
                        <th>답변</th>
                        <td>
                            <textarea name="response"></textarea>
                        </td>
                    </tr>
                </table>

                <div class="bottom-bar">
                    <button type="button" class="btn btn1" th:onclick="|location.href='@{/admin/counsel/list}'|">취소하기</button>
                    <button type="submit" class="btn btn2">답변하기</button>
                </div>
            </form>

        </div>
    </div>
</body>
</html>