<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>BNK부산은행::은행소개</title>

    <link rel="stylesheet" th:href="@{/css/common/style_common.css}">
    <link rel="stylesheet" th:href="@{/css/common/style_font.css}">
    <link rel="stylesheet" th:href="@{/css/common/xeicon.css}">
    <link rel="stylesheet" th:href="@{/css/_header.css}">
    <link rel="stylesheet" th:href="@{/css/_footer.css}">

    <script th:src="@{/js/_header.js}" defer></script>


</head>

<body>
    <!-- Header 부분 -->
    <section>
        <!-- 상단 유틸 -->
        <article class="util">
            <div class="container util_row">
                <img class="util_logo" src="/src/main/resources/static/images/main/Busanbank_logo.png" alt="BNK부산은행"></img>
                <div class="util_spacer"></div>
                <a href="#">로그인</a>
                <a href="#">고객센터</a>
                <a href="#">은행소개</a>
                <a href="#">Global <i class="xi-caret-down-min"></i></a>
                <i class="xi-search"></i>
            </div>
        </article>

        <!-- GNB -->
        <article class="gnb">
            <div class="container gnb_row">
            
                <nav class="menu">

                    <!-- 예금 -->
                    <div class="menu-item" data-menu="예금상품">
                        <a href="#" class="menu-active">예금상품</a>
                        <div class="submenu">
                            <a href="#">전체상품</a>
                            <a href="#">입출금자유</a>
                            <a href="#">일임형 ISA</a>
                            <a href="#">목돈만들기</a>
                            <a href="#">목돈굴리기</a>
                            <a href="#">주택마련</a>
                            <a href="#">스마트금융전용</a>
                            <a href="#">세테크</a>
                            <a href="#">복합금융상품</a>
                            <a href="#">판매중지상품</a>
                        </div>
                    </div>

                    <!-- 예금이용가이드 -->
                    <div class="menu-item" data-menu="예금이용가이드">
                        <a href="#">예금이용가이드</a>
                        <div class="submenu">
                            <a href="#">금융소득종합과세</a>
                            <a href="#">예금 FAQ</a>
                        </div>
                    </div>

                    <!-- 금융서비스 -->
                    <div class="menu-item" data-menu="금융서비스">
                        <a href="#">금융서비스</a>
                        <div class="submenu">
                            <a href="#">금융 감정 분석</a>
                            <a href="#">주거래고객우대통장</a>
                            <a href="#">예금보험제도</a>
                            <a href="#">증권계좌개설서비스</a>
                            <a href="#">대여금고이용안내</a>
                            <a href="#">전자어음이용안내</a>
                        </div>
                    </div>
                </nav>

                <div class="gnb_text">
                    <a href="#">금융을 편리하게. 미래를 풍요롭게.</a>
                </div>
            </div>
        </article>

        <!-- GNB-SUB -->
        <article class="gnb_sub">
            <div class="container gnb_sub_row">
                <a href="#" class="breadcrumb">은행소개<i class="xi-angle-right-min"></i></a>
            </div>
        </article>
    </section>
    <!-- Header 끝 -->

    <!-- MAIN CONTENT -->
    <main>

    </main>

    <footer>
        <section class="footer">
            <div class="container">
                <div class="f-link">
                    <a href="#" class="link-active">개인정보처리방침</a>
                    <a href="#">고객정보취급방침</a>
                    <a href="#">보호금융상품등록부</a>
                    <a href="#">경영공시</a>
                    <a href="#">상품공시실</a>
                    <a href="#">전자민원접수</a>
                    <a href="#">전자금융이용자보호수칙</a>
                    <a href="#">전자금융사기피해금환급제도</a>
                    <a href="#">위치기반서비스 이용약관</a>
                </div>
                <div class="f-number">
                    고객센터<strong>1588-6200, 1544-6200</strong>, 해외<strong>+82-2-1588-6200</strong>
                </div>
                <div class="f-copy">COPYTRIGHT © 2014 BUSANBANK. ALL RIGHTS RESERVED.</div>
                <button id="topBtn" class="top-btn" aria-label="맨 위로 이동">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-chevrons-up-icon lucide-chevrons-up">
                        <path d="m17 11-5-5-5 5"/>
                        <path d="m17 18-5-5-5 5"/>
                    </svg>
                </button>
            </div>
        </section>
    </footer>
</body>
</html>