<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.busanbank.mapper.ProductMapper">

    <!-- 결과 매핑 -->
    <resultMap id="productMap" type="kr.co.busanbank.dto.ProductDTO">
        <result property="productNo" column="PRODUCTNO"/>
        <result property="productName" column="PRODUCTNAME"/>
        <result property="productType" column="PRODUCTTYPE"/>
        <result property="categoryId" column="CATEGORYID"/>
        <result property="description" column="DESCRIPTION"/>

        <result property="baseRate" column="BASERATE"/>
        <result property="maturityRate" column="MATURITYRATE"/>
        <result property="earlyTermInterRate" column="EARLYTERMINATERATE"/>

        <result property="monthlyAmount" column="MONTHLYAMOUNT"/>
        <result property="savingTerm" column="SAVINGTERM"/>
        <result property="depositAmount" column="DEPOSITAMOUNT"/>

        <result property="interestMethod" column="INTERESTMETHOD"/>
        <result property="payCycle" column="PAYCYCLE"/>
        <result property="endDate" column="ENDDATE"/>
        <result property="adminId" column="ADMINID"/>

        <result property="createdAt" column="CREATEDAT"/>
        <result property="updatedAt" column="UPDATEDAT"/>
        <result property="status" column="STATUS"/>
    </resultMap>


    <!-- 전체 상품 조회 -->
    <select id="findAll" resultMap="productMap">
        SELECT *
        FROM PRODUCT
        WHERE STATUS = 'Y'
        ORDER BY PRODUCTNO DESC
    </select>

    <!-- 상품 상세 조회 -->
    <select id="findById" parameterType="int" resultMap="productMap">
        SELECT *
        FROM PRODUCT
        WHERE PRODUCTNO = #{productNo}
    </select>

    <!-- 키워드 검색 -->
    <select id="searchProducts" parameterType="string" resultMap="productMap">
        SELECT *
        FROM PRODUCT
        WHERE STATUS = 'Y'
          AND (PRODUCTNAME LIKE '%' || #{keyword} || '%'
            OR DESCRIPTION LIKE '%' || #{keyword} || '%')
        ORDER BY PRODUCTNO DESC
    </select>

</mapper>