<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>BNK부산은행::FAQ</title>

    <link rel="stylesheet" th:href="@{/css/common/style_common.css}">
    <link rel="stylesheet" th:href="@{/css/common/style_font.css}">
    <link href="//cdn.jsdelivr.net/xeicon/2/xeicon.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/cs/_csheader.css}">
    <link rel="stylesheet" th:href="@{/css/cs/_csfooter.css}">
    <link rel="stylesheet" th:href="@{/css/cs/cs_main.css}">
    <link rel="stylesheet" th:href="@{/css/cs/cs.css}">

    <script th:src="@{/js/_header.js}" defer></script>
</head>

<body>
<!-- Header 부분 -->
<section>
    <!-- 상단 유틸 -->
    <article class="util">
        <div class="container util_row">
            <a th:href="@{/}" class="util_logo" aria-label="부산은행 홈">
                <img class="logo-img" th:src="@{/images/main/Busanbank_logo.png}" alt="부산은행 로고"></img>
            </a>
            <div class="util_name">고객센터</div>
            <div class="util_spacer"></div>
            <a th:href="@{/member/login}">로그인</a>
            <a th:href="@{/cs}">고객센터</a>
            <a th:href="@{/company/companyintro}">은행소개</a>
            <a href="#">Global <i class="xi-caret-down-min"></i></a>
            <i class="xi-search"></i>
        </div>
    </article>

    <!-- GNB -->
    <article class="gnb">
        <div class="container gnb_row">

            <nav class="menu">

                <!-- 고객상담 -->
                <div class="menu-item" data-menu="고객상담">
                    <a th:href="@{/cs/customerSupport/faq}" class="menu-active">고객상담</a>
                    <div class="submenu">
                        <a th:href="@{/cs/customerSupport/faq}">FAQ</a>
                        <a th:href="@{/cs/customerSupport/necessaryDocu}">은행거래 필요서류 안내</a>
                        <a th:href="@{/cs/customerSupport/talkCounsel}">TALK상담</a>
                        <a th:href="@{/cs/customerSupport/onlineCounsel}">이메일상담</a>
                    </div>
                </div>

                <!-- 이용안내 -->
                <div class="menu-item" data-menu="이용안내">
                    <a th:href="@{/cs/userGuide/nonRegisterProcess}">이용안내</a>
                    <div class="submenu">
                        <a th:href="@{/cs/userGuide/nonRegisterProcess}">가입절차</a>
                        <a th:href="@{/cs/userGuide/passwordGuide}">비밀번호 안내</a>
                        <a th:href="@{/cs/userGuide/serviceAvailable}">서비스 이용시간</a>
                        <a th:href="@{/cs/userGuide/preferredCustomer}">고객우대서비스</a>
                        <a th:href="@{/cs/userGuide/feeGuide}">수수료 안내</a>
                    </div>
                </div>

                <!-- 금융소비자보호 -->
                <div class="menu-item" data-menu="금융소비자보호">
                    <a th:href="@{/cs/fcqAct/protectionSystem}">금융소비자보호</a>
                    <div class="submenu">
                        <a th:href="@{/cs/fcqAct/protectionSystem}">소비자보호체계</a>
                        <a th:href="@{/cs/fcqAct/excellentCase}">소비자보호우수사례</a>
                    </div>
                </div>

                <!-- 상품공시실 -->
                <div class="menu-item" data-menu="상품공시실">
                    <a th:href="@{/cs/productCenter/manual}">상품공시실</a>
                    <div class="submenu">
                        <a th:href="@{/cs/productCenter/manual}">은행상품공시이용메뉴얼</a>
                        <a th:href="@{/cs/productCenter/depositProduct}">적립식예금</a>
                        <a th:href="@{/cs/productCenter/depositProduct}">거치식예금</a>
                        <a th:href="@{/cs/productCenter/depositProduct}">입출금자유로운예금</a>
                        <a th:href="@{/cs/productCenter/depositProduct}">주택청약관련예금</a>
                        <a th:href="@{/cs/productCenter/depositProduct}">외화예금</a>
                        <a th:href="@{/cs/productCenter/useRate}">서비스이용수수료</a>
                    </div>
                </div>

                <!-- 서식/약관/자료실 -->
                <div class="menu-item" data-menu="서식/약관/자료실">
                    <a th:href="@{/cs/archives/library}">서식/약관/자료실</a>
                    <div class="submenu">
                        <a th:href="@{/cs/archives/library}">상품약관</a>
                        <a th:href="@{/cs/archives/library}">상품설명서</a>
                        <a th:href="@{/cs/archives/library}">서식자료실</a>
                    </div>
                </div>
            </nav>

            <div class="gnb_text">
                <a href="#">세상을 가슴뛰게 하는 금융.</a>
            </div>
        </div>
    </article>

    <!-- GNB-SUB -->
    <article class="gnb_sub">
        <div class="container gnb_sub_row">
            <a th:href="@{/cs/cs}" class="breadcrumb">고객센터<i class="xi-angle-right-min"></i></a>
            <a href="#" class="breadcrumb">홈<!--<i class="xi-angle-right-min"></i>--></a>
            <!--<a th:href="#" class="breadcrumb">사장님 월급통장</a>-->
        </div>
    </article>
</section>
<!-- Header 끝 -->