<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자주 하시는 질문 수정</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin_category.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_FAQModify.css}">
    <link rel="stylesheet" th:href="@{/css/common/style_font.css}"> <!-- 공용 폰트 -->
    <script th:href="@{/js/admin/admin_category.js}"></script>
</head>
<body>
    <div class="container" style="display: flex;">
        <!-- 왼쪽 사이드바 - Fragment 사용 -->
        <div th:replace="~{admin/_adminSidebar :: sidebar}"></div>

        <div class="main-right">
            <div class="faq_title">
                <span class="title_sp">FAQ(자주하시는질문) 수정</span>
            </div>

            <form th:action="@{/admin/faq/modify}" method="post">
                <input type="hidden" name="faqId" th:value="${faqDTO.faqId}">
                <table>
                    <tr>
                        <th>유형</th>
                        <td>
                            <select name="faqCategory">
                                <option>선택</option>
                                <option th:selected="${faqDTO.groupCode == 'FAQ_TYPE' && faqDTO.faqCategory == '01'}" th:value="'01'">예금</option>
                                <option th:selected="${faqDTO.groupCode == 'FAQ_TYPE' && faqDTO.faqCategory == '02'}" th:value="'02'">카드</option>
                                <option th:selected="${faqDTO.groupCode == 'FAQ_TYPE' && faqDTO.faqCategory == '03'}" th:value="'03'">대출</option>
                                <option th:selected="${faqDTO.groupCode == 'FAQ_TYPE' && faqDTO.faqCategory == '04'}" th:value="'04'">펀드</option>
                                <option th:selected="${faqDTO.groupCode == 'FAQ_TYPE' && faqDTO.faqCategory == '05'}" th:value="'05'">외환</option>
                                <option th:selected="${faqDTO.groupCode == 'FAQ_TYPE' && faqDTO.faqCategory == '06'}" th:value="'06'">신탁</option>
                                <option th:selected="${faqDTO.groupCode == 'FAQ_TYPE' && faqDTO.faqCategory == '07'}" th:value="'07'">보험</option>
                                <option th:selected="${faqDTO.groupCode == 'FAQ_TYPE' && faqDTO.faqCategory == '08'}" th:value="'08'">인터넷뱅킹</option>
                                <option th:selected="${faqDTO.groupCode == 'FAQ_TYPE' && faqDTO.faqCategory == '09'}" th:value="'09'">텔레뱅킹</option>
                                <option th:selected="${faqDTO.groupCode == 'FAQ_TYPE' && faqDTO.faqCategory == '10'}" th:value="'10'">공동인증서</option>
                                <option th:selected="${faqDTO.groupCode == 'FAQ_TYPE' && faqDTO.faqCategory == '11'}" th:value="'11'">금융인증서</option>
                                <option th:selected="${faqDTO.groupCode == 'FAQ_TYPE' && faqDTO.faqCategory == '12'}" th:value="'12'">기타</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td>
                            <input type="text" name="question" id="title" placeholder="제목을 입력하세요" th:value="${faqDTO.question}">
                        </td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td>
                            <textarea name="answer" placeholder="내용을 입력하세요" th:text="${faqDTO.answer}">
                            </textarea>
                        </td>
                    </tr>
                </table>

                <div class="bottom-bar">
                    <button type="button" class="btn2" th:onclick="|location.href='@{/admin/faq/list}'|">취소하기</button>
                    <button type="submit" class="btn">등록하기</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>