<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자주 하시는 질문 작성</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin_category.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_FAQWrite.css}">
    <link rel="stylesheet" th:href="@{/css/common/style_font.css}"> <!-- 공용 폰트 -->
    <script th:src="@{/js/admin/admin_category.js}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("codeName").addEventListener("change", function () {
            let selected = this.options[this.selectedIndex];

            document.getElementById("groupCode").value = selected.dataset.group;
            document.getElementById("faqCategory").value = selected.dataset.category;
            });
        });
    </script>
</head>
<body>
    <div class="container" style="display: flex;">
        <!-- 왼쪽 사이드바 - Fragment 사용 -->
        <div th:replace="~{admin/_adminSidebar :: sidebar}"></div>

            <div class="footer_div">
                <span>COPYRIGHT <br>
                    © 2014 BUSANBANK. ALL RIGHTS RESERVED.
                </span>
            </div>
        </div>

        <div class="main-right">
            <div class="faq_title">
                <span class="title_sp">FAQ(자주하시는질문) 작성</span>
            </div>

            <form th:action="@{/admin/faq/write}" method="post">
                <table>
                    <tr>
                        <th>유형</th>
                        <td>
                            <select name="codeName" id="codeName">
                                <option>선택</option>
                                <option value="예금" data-group="FAQ_TYPE" data-category="01">예금</option>
                                <option value="카드" data-group="FAQ_TYPE" data-category="02">카드</option>
                                <option value="대출" data-group="FAQ_TYPE" data-category="03">대출</option>
                                <option value="펀드" data-group="FAQ_TYPE" data-category="04">펀드</option>
                                <option value="외환" data-group="FAQ_TYPE" data-category="05">외환</option>
                                <option value="신탁" data-group="FAQ_TYPE" data-category="06">신탁</option>
                                <option value="보험" data-group="FAQ_TYPE" data-category="07">보험</option>
                                <option value="인터넷뱅킹" data-group="FAQ_TYPE" data-category="08">인터넷뱅킹</option>
                                <option value="모바일뱅킹" data-group="FAQ_TYPE" data-category="09">모바일뱅킹</option>
                                <option value="텔레뱅킹" data-group="FAQ_TYPE" data-category="10">텔레뱅킹</option>
                                <option value="공동인증서" data-group="FAQ_TYPE" data-category="11">공동인증서</option>
                                <option value="금융인증서" data-group="FAQ_TYPE" data-category="12">금융인증서</option>
                                <option value="기타" data-group="FAQ_TYPE" data-category="13">기타</option>
                            </select>
                            <input type="hidden" name="groupCode" id="groupCode">
                            <input type="hidden" name="faqCategory" id="faqCategory">
                        </td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td>
                            <input type="text" name="question" id="title" placeholder="제목을 입력하세요">
                        </td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td>
                            <textarea name="answer" placeholder="내용을 입력하세요"></textarea>
                        </td>
                    </tr>
                </table>

                <div class="bottom-bar">
                    <button type="button" class="btn2" th:onclick="|location.href='@{/admin/faq/list}'|">취소하기</button>
                    <button type="submit" class="btn">등록하기</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>