<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자주 하시는 질문 보기</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin_category.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_FAQView.css}">
    <link rel="stylesheet" th:href="@{/css/common/style_font.css}">  <!-- 공용 폰트 -->
    <script th:src="@{/js/admin/admin_category.js}"></script>
</head>
<body>
    <div class="container" style="display: flex;">
        <!-- 왼쪽 사이드바 - Fragment 사용 -->
        <div th:replace="~{admin/_adminSidebar :: sidebar}"></div>

        <div class="main-right">
            <div class="faq_title">
                <span class="title_sp">FAQ(자주하시는질문) 보기</span>
            </div>

            <div class="table_div">
                <table>
                    <tr>
                        <th>유형</th>
                        <td class="radius_td1">[[${faqDTO.codeName}]]</td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td>
                            <span>[[${faqDTO.question}]]</span>
                        </td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td class="radius_td2">[[${faqDTO.answer}]]</td>
                    </tr>
                </table>

                <div class="bottom-bar">
                    <button type="button" class="btn btn1" th:onclick="|location.href='@{/admin/faq/delete(faqId=${faqDTO.faqId})}'|">삭제</button>
                    <button type="button" class="btn btn2" th:onclick="|location.href='@{/admin/faq/modify(faqId=${faqDTO.faqId})}'|">수정</button>
                    <button type="button" class="btn btn3" th:onclick="|location.href='@{/admin/faq/list}'|">목록</button>
                </div>
            </div>

        </div>
    </div>
</body>
</html>