
<div th:replace="~{my/_head.html}"></div>
<script th:src="@{/js/my/sidebar.js}" defer></script>



<main>
        <div class="board">
            <div class="side">
                <h2>마이페이지</h2>
                <aside class="sidebar">
                    <div class="side-item">
                        <div class="main-menu">
                            <p>금융상품</p>
                            <svg
                                    class="arrow-icon lucide lucide-chevron-down-icon lucide-chevron-down"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="20"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round">
                                <path d="m6 9 6 6 6-6"/>
                            </svg>
                        </div>
                        <ul class="sub-menu">
                            <li><a th:href="@{/my/items}" class="sub-link">상품 가입 정보</a></li>
                            <li><a th:href="@{/my/cancel}" class="sub-link">상품 해지</a></li>
                        </ul>
                    </div>
                    <div class="side-item">
                        <div class="main-menu">
                            <p>설정</p>
                            <svg
                                    class="arrow-icon lucide lucide-chevron-down-icon lucide-chevron-down"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="20"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round">
                                <path d="m6 9 6 6 6-6"/>
                            </svg>
                        </div>
                        <ul class="sub-menu">
                            <li><a th:href="@{/my/modify}" class="sub-link">사용자 정보 수정</a></li>
                            <li><a th:href="@{/my/change}" class="sub-link">비밀번호 수정</a></li>
                            <li><a th:href="@{/my/withdraw}" class="sub-link">회원탈퇴</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
    
     

            <div class="content">

                <div class="board-upper">
                    <h2>상품 해지</h2>

                </div>

                <div class="board-lower">

                    <div class="register-step">
                        <p class="no-step">1</p>
                        <p class="no-step">2</p>
                        <div class="now-step">
                            <p><span>3 </span>해지완료</p>
                        </div>
                    </div>

                     <div class="finish-step">
                
                        <svg xmlns="http://www.w3.org/2000/svg" color="#D85258" width="80" height="80" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-party-proper-icon lucide-party-proper"><circle cx="12" cy="12" r="10"/><path d="m9 12 2 2 4-4"/></svg>
                        <h2>상품 해지가 완료되었습니다.</h2>
                        <div class="btn-finish-wrap">
                            <button type="submit" class="agree-btn" onclick="location.href='/busanbank/'">홈으로</button>
                        </div>
                    </div>


                    <div class="table-area">
                        <h3>해지 내역</h3>
                        <table class="info-table">
                            <tr>
                                <th>상품명</th>
                                <td>주택청약종합저축</td>
                                <th>계좌번호</th>
                                <td>111-1111-1111-1111</td>
                            </tr>
                            <tr>
                                <th>해지구분</th>
                                <td>만기해지</td>
                                <th>해지예정일</th>
                                <td>2025-11-11</td>
                            </tr>
                            <tr>
                                <th>신규일자</th>
                                <td>2024-11-11</td>
                                <th>만기일자</th>
                                <td>2025-11-11</td>
                            </tr>
                            <tr>
                                <th>해지원금 ①</th>
                                <td>100원</td>
                                <th>해지이자 ②</th>
                                <td>100원</td>
                            </tr>
                            <tr>
                                <th>만기후이자 ③</th>
                                <td>100원</td>
                                <th>환입이자 ④</th>
                                <td>100원</td>
                            </tr>
                            <tr>
                                <th>징수세금 ⑤</th>
                                <td>100원</td>
                            </tr>
                            <tr>
                                <th>법인(소득)세</th>
                                <td>100원</td>
                                <th>지방소득세</th>
                                <td>100원</td>
                            </tr>
                            <tr>
                                <th>농특세</th>
                                <td>100원</td>
                                <th>환출세액</th>
                                <td>100원</td>
                            </tr>
                            <tr>
                                <th>차감지급액(①+②+③-④-⑤)</th>
                                <td>100원</td>
                                <th>대출상환금액</th>
                                <td>100원</td>
                            </tr>
                            <tr>
                                <th>실입금금액</th>
                                <td>100원</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>


<div th:replace="~{my/_tail.html}"></div>