<!--날짜 : 2025/11/23
이름 : 오서정
내용 : 마이페이지 메인 html/css 수정 작성
-->
<div th:replace="~{my/_head.html}"></div>
    <main>
            
        <div class="board">
            <div class="my-left">
                <div class="my-info">
                    <img th:src="@{/images/my/myIcon-p.png}">
                    <div class="my-info-data">
                        <div class="my-name">
                            <h2>[[${user.userName}]] <span>고객님</span></h2>
                        </div>
                        <div class="my-remain">
                            <div>
                                <p>로그인 ID <span>[[${user.userId}]]</span></p>
                                <p>이메일 <span>[[${user.email}]]</span></p>
                                <p>전화번호 <span>[[${user.hp}]]</span></p>
                                <p>최근 접속 시간 <span>[[${connectTime}]]</span></p>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="my-left-actions">
                    <a th:href="@{/my/items}" class="action-card">
                        <span class="action-icon">💰</span>
                        <span class="action-text">나의 금융 상품</span>
                        <span class="action-arrow">〉</span>
                    </a>
                    <a th:href="@{/my/modify}" class="action-card">
                        <span class="action-icon">⚙️</span>
                        <span class="action-text">설정</span>
                        <span class="action-arrow">〉</span>
                    </a>
                </div>




            </div>
            <div class="my-right">

                <div class="my-card first-area">
                    <div class="welcome-box fade-in">
                        <span class="my-span">[[${user.userName}]]</span>님과 딸깍은행이 함께한지
                        <span class="my-span">[[${user.regDays}]]</span>일째 입니다
                    </div>
                </div>

                <div class="my-card my-list-area">
                    <div class="list-puls">
                        <h2>나의 금융상품 현황</h2>
                    </div>

                    <div class="item-card">
                        <p>가입한 상품: [[${countUserItems}]]건</p>
                        <p>다음 만기 예정: [[${LastDate}]]</p>
                        <p>최근 가입일: [[${RecentlyDate}]]</p>
                    </div>
                </div>

                <div class="my-card my-list-area">
                    <div class="list-puls">
                        <h2>문의내역</h2>
                        <a th:href="@{/cs/customerSupport/login/emailList}">더보기　 〉</a>
                    </div>
     
                        <table class="list-table">
                              <colgroup>
                                <col width="10%">
                                <col width="70%">
                                <col width="20%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>제목</th>
                                    <th>등록일</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="cs : ${csList}"
                                    th:onclick="|location.href='@{/cs/customerSupport/login/emailView(id=${cs.ecounselId})}'|"
                                    style="cursor:pointer;">
                                    <td th:inline="text">[[${cs.ecounselId}]]</td>
                                    <td th:inline="text">[[${cs.title}]]</td>
                                    <td th:inline="text">[[${cs.createdAt}]]</td>
                                </tr>
                            </tbody>
                        </table>

                </div>
                <div class="my-card my-contents-area">
                    <div class="my-contents">
                        <a href="#">컨텐츠 바로가기(추후 추가)</a>
                    </div>
                    <div class="my-contents">
                        <a href="#">컨텐츠 바로가기(추후 추가)</a>
                    </div>
                </div>

            </div>

            </div>
            
        </div>
    
    </main>
<!-- Footer 부분 -->
<div th:replace="~{_footer :: footerFragment(${appInfo})}"></div>
</body>
</html>