<div th:replace="~{my/_head.html}"></div>
    <main>
            
        <div class="board">
            <div class="my-left">
                <div class="my-info">
                    <img th:src="@{/images/my/myIcon.png}">
                    <div class="my-info-data">
                        <div class="my-name">
                            <h2>[[${user.userName}]] <span>고객님</span></h2>
                        </div>
                        <div class="my-remain">
                            <p>로그인 ID <span>[[${user.userId}]]</span></p>
                            <p>이메일 <span>[[${user.email}]]</span></p>
                           <p>전화번호 <span>[[${user.hp}]]</span></p>
                         <p>최근 접속 시간 <span>[[${connectTime}]]</span></p>

                        </div>
                        
                    </div>
                </div>
                <a th:href="@{/my/items}" class="my-items">나의 금융 상품 　〉</a>
                <div class="my-setting">
                    <a th:href="@{/my/modify}"><svg xmlns="http://www.w3.org/2000/svg" color="white" width="24" height="24" viewBox="0 0 24 24" fill="#C73034" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings-icon lucide-settings"><path d="M9.671 4.136a2.34 2.34 0 0 1 4.659 0 2.34 2.34 0 0 0 3.319 1.915 2.34 2.34 0 0 1 2.33 4.033 2.34 2.34 0 0 0 0 3.831 2.34 2.34 0 0 1-2.33 4.033 2.34 2.34 0 0 0-3.319 1.915 2.34 2.34 0 0 1-4.659 0 2.34 2.34 0 0 0-3.32-1.915 2.34 2.34 0 0 1-2.33-4.033 2.34 2.34 0 0 0 0-3.831A2.34 2.34 0 0 1 6.35 6.051a2.34 2.34 0 0 0 3.319-1.915"/><circle cx="12" cy="12" r="3"/></svg>설정</a>
                </div>

            </div>
            <div class="my-right">

                <div class="first-area">
                    <p class="welcome-msg">
                        <strong>[[${user.userName}]]</strong>님과 부산은행이 함께한 지 <span>[[${user.regDays}]]일째</span>입니다.
                    </p>

                    <div class="my-list-area">
                        <div class="list-puls">
                            <h2>나의 금융상품 현황</h2>
                        </div>
        
                        <div class="item-card">
                            <p>가입한 상품: [[${countUserItems}]]건</p>
                            <p>다음 만기 예정: [[${LastDate}]]</p>
                            <p>최근 가입일: [[${RecentlyDate}]]</p>
                        </div>
                        
                    </div>
                </div>
                
                <div class="my-list-area">
                    <div class="list-puls">
                        <h2>문의내역</h2>
                        <a href="#">더보기　 〉</a>
                    </div>
     
                        <table class="list-table">
                              <colgroup>
                                <col width="10%">
                                <col width="70%"> <!-- 제목 열 -->
                                <col width="20%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>제목</th>
                                    <th>등록일</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="cs : ${csList}">
                                    <td th:inline="text">[[${cs.csNo}]]</td>
                                    <td th:inline="text">[[${cs.title}]]</td>
                                    <td th:inline="text">[[${cs.createdAt}]]</td>
                                </tr>
                            </tbody>
                        </table>

                </div>
                <div class="my-contents-area">
                    <div class="my-contents">
                        <a href="#">
                            컨텐츠 바로가기(추후 추가)
                        </a>
                    </div>
                    <div class="my-contents">
                        <a href="#">
                            컨텐츠 바로가기(추후 추가)
                        </a>
                    </div>

                </div>

            </div>
            
        </div>
    
    </main>
<!-- Footer 부분 -->
<div th:replace="~{_footer :: footerFragment(${appInfo})}"></div>
</body>
</html>