<!DOCTYPE html>
<!-- 로그인 여부, 권한 처리 시 필요 -->
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원</title>
    <link rel="stylesheet" th:href="@{/css/common/style_font.css}">
    <link rel="stylesheet" th:href="@{/css/common/style_common.css}">
    <link href="//cdn.jsdelivr.net/xeicon/2/xeicon.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/_header.css}">
    <link rel="stylesheet" th:href="@{/css/_footer.css}">
    <link rel="stylesheet" th:href="@{/css/member/Member.css}">

    <script th:src="@{/js/_header.js}" defer></script>
</head>
<body>
<!-- Header 부분 -->
<section>
    <!-- 상단 유틸 -->
    <article class="util">
        <div class="container util_row">
            <a th:href="@{/}" class="util_logo" aria-label="부산은행 홈">
                <img class="logo-img" th:src="@{/images/main/Busanbank_logo.png}" alt="부산은행 로고"></img>
            </a>
            <div class="util_spacer"></div>

            <a sec:authorize="isAuthenticated()" th:href="@{/my}" th:inline="text">[[${user.userName}]]님</a>
            <!-- 로그인 상태 -->
            <a sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그아웃</a>
            <!-- 비로그인 상태 -->
            <a sec:authorize="!isAuthenticated()" th:href="@{/member/login}">로그인</a>

            <a href="#">고객센터</a>
            <a href="#">은행소개</a>
            <a href="#">Global <i class="xi-caret-down-min"></i></a>
            <i class="xi-search"></i>
        </div>
    </article>
    <!-- GNB -->
    <article class="gnb">
        <div class="container gnb_row">

            <nav class="menu">

                <!-- 예금 -->
                <div class="menu-item" data-menu="예금상품">
                    <a href="#" class="menu-active">예금상품</a>
                    <div class="submenu">
                        <a href="#">전체상품</a>
                        <a href="#">입출금자유</a>
                        <a href="#">일임형 ISA</a>
                        <a href="#">목돈만들기</a>
                        <a href="#">목돈굴리기</a>
                        <a href="#">주택마련</a>
                        <a href="#">스마트금융전용</a>
                        <a href="#">세테크</a>
                        <a href="#">복합금융상품</a>
                        <a href="#">판매중지상품</a>
                    </div>
                </div>

                <!-- 예금이용가이드 -->
                <div class="menu-item" data-menu="예금이용가이드">
                    <a href="#">예금이용가이드</a>
                    <div class="submenu">
                        <a href="#">금융소득종합과세</a>
                        <a href="#">예금 FAQ</a>
                    </div>
                </div>

                <!-- 금융서비스 -->
                <div class="menu-item" data-menu="금융서비스">
                    <a href="#">금융서비스</a>
                    <div class="submenu">
                        <a href="#">금융 감정 분석</a>
                        <a href="#">주거래고객우대통장</a>
                        <a href="#">예금보험제도</a>
                        <a href="#">증권계좌개설서비스</a>
                        <a href="#">대여금고이용안내</a>
                        <a href="#">전자어음이용안내</a>
                    </div>
                </div>
            </nav>

            <div class="gnb_text">
                <a href="#">금융을 편리하게. 미래를 풍요롭게.</a>
            </div>
        </div>
    </article>

    <!-- GNB-SUB -->
    <article class="gnb_sub">
        <div class="container gnb_sub_row">
            <a href="#" class="breadcrumb">예금상품<i class="xi-angle-right-min"></i></a>
            <a href="#" class="breadcrumb">입출금자유<!--<i class="xi-angle-right-min"></i>--></a>
            <!--<a href="#" class="breadcrumb">사장님 월급통장</a>-->
        </div>
    </article>
</section>
<!-- Header 끝 -->
