

<footer>
    <section class="footer">
        <div class="container">
            <div class="f-link">
                <a href="#" class="link-active">개인정보처리방침</a>
                <a href="#">고객정보취급방침</a>
                <a href="#">보호금융상품등록부</a>
                <a href="#">경영공시</a>
                <a href="#">상품공시실</a>
                <a href="#">전자민원접수</a>
                <a href="#">전자금융이용자보호수칙</a>
                <a href="#">전자금융사기피해금환급제도</a>
                <a href="#">위치기반서비스 이용약관</a>
            </div>
            <div class="f-number">
                고객센터<strong>1588-6200, 1544-6200</strong>, 해외<strong>+82-2-1588-6200</strong>
            </div>
            <div class="f-copy">COPYTRIGHT © 2014 BUSANBANK. ALL RIGHTS RESERVED.</div>
        </div>
    </section>
</footer>
</body>
</html>