<div th:replace="~{member/_head.html}"></div>
    <main>
        <div class="board">
            <div class="register-step">
                <p class="no-step">1</p>
                <p class="no-step">2</p>
                <div class="now-step">
                    <p><span>3 </span>가입완료</p>
                </div>
            </div>

            <div class="finish-step">  
                
                <svg xmlns="http://www.w3.org/2000/svg" color="#D85258" width="80" height="80" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-party-proper-icon lucide-party-proper"><circle cx="12" cy="12" r="10"/><path d="m9 12 2 2 4-4"/></svg>
                <h2>회원가입이 완료되었습니다.</h2>
                <p>로그인하시면 더욱 다양한 서비스와 혜택을 제공 받으실 수 있습니다.</p>
                <div class="btn-finish-wrap">
                    <button type="submit" class="login-btn" onclick="location.href='/busanbank/member/login'">로그인</button>
                </div>
            </div>
        </div>
    </main>
<div th:replace="~{member/_tail.html}"></div>