<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤트 작성</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin_category.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_eventWrite.css}">
    <link rel="stylesheet" th:href="@{/css/common/style_font.css}"> <!-- 공용 폰트 -->
    <script th:src="@{/js/admin/admin_category.js}"></script>
</head>
<body>
    <div class="container" style="display: flex;">
        <!-- 왼쪽 사이드바 - Fragment 사용 -->
        <div th:replace="~{admin/_adminSidebar :: sidebar}"></div>

        <div class="main-right">
            <div class="faq_title">
                <span class="title_sp">이벤트 작성</span>
            </div>

            <form th:action="@{/admin/event/write}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="boardType" th:value="event">
                <table>
                    <tr>
                        <th>제목</th>
                        <td>
                            <input type="text" name="title" id="title" placeholder="제목을 입력하세요">
                        </td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td>
                            <textarea name="content" placeholder="내용을 입력하세요"></textarea>
                            <input type="file" name="uploadFile" class="input_file">
                        </td>
                    </tr>
                </table>

                <div class="bottom-bar">
                    <button type="button" class="btn2" th:onclick="|location.href='@{/admin/event/list}'|">취소하기</button>
                    <button type="submit" class="btn">등록하기</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>