/* Footer */
.footer {
    width: 100%;
    margin-top: 50px;
    padding: 40px 0;
    background: #ffffff;
    border-top: 1px solid var(--grey-300);
}

.f-link {
    display: flex;
    justify-content: start;
    margin-bottom: 12px;
    gap: 18px;

    font-size: 16px;
    font-weight: 600;
    color: var(--grey-700);
}

.link-active {
    color: var(--purple-900);
}

.f-number {
    display: flex;
    justify-content: start;
    align-items: last baseline;
    margin-bottom: 12px;

    font-size: 16px;
    font-weight: 700;
    color: var(--grey-700);
    gap: 10px;
}

.f-number strong {
    font-size: 20px;
}

.f-copy {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
}

.snapShot {
    font-size: 18px;
    font-weight: 500;
    color: var(--grey-700);
}

/* ----- [공통] Footer.CSS 끝 ----- */