<div th:replace="~{cs/_head.html}"></div>

<div class="container">
    <div class="breadcrumb">고객센터 &gt; 고객상담 &gt; FAQ(자주하시는질문)</div>
</div>

<div class="content-wrapper">
    <aside class="sidebar">
        <h3>이용안내</h3>
        <nav>
            <div class="sidebar-menu">
                <a th:href="@{/cs/userGuide/nonRegisterProcess}">가입절차</a>
                <div class="side-submenu">
                    <a th:href="@{/cs/userGuide/nonRegisterProcess}">인터넷뱅킹미가입고객</a>
                    <a th:href="@{/cs/userGuide/registerProcess}">인터넷뱅킹가입고객</a>
                </div>
            </div>

            <div class="sidebar-menu">
                <a th:href="@{/cs/userGuide/passwordGuide}">비밀번호안내</a>
            </div>

            <div class="sidebar-menu">
                <a th:href="@{/cs/userGuide/serviceAvailable}" class="toggle">서비스이용시간</a>
                <div class="side-submenu">
                    <a th:href="@{/cs/userGuide/serviceAvailable}">예금/신탁</a>
                </div>
            </div>

            <div class="sidebar-menu">
                <a th:href="@{/cs/userGuide/preferredCustomer}">고객우대서비스</a>
            </div>

            <div class="sidebar-menu">
                <a th:href="@{/cs/userGuide/feeGuide}">수수료안내</a>
            </div>
        </nav>

        <div class="sidebar-icons">
            <div><a th:href="@{/cs/customerSupport/talkCounsel}">
                <span>💬</span>
                <p>Talk상담</p>
            </a></div>
            <div><a th:href="@{/cs/customerSupport/onlineCounsel}">
                <span>✉️</span>
                <p>메일상담</p>
            </a></div>
            <div><a th:href="@{/cs/customerSupport/faq}">
                <span>📄</span>
                <p>FAQ</p>
            </a></div>
        </div>
    </aside>

    <main>
        <h2>수수료안내</h2>
        <div class="explain">
            <ul>
                <li>
                    인터넷뱅킹 이용과 공동인증서(구 공인인증서) 발급 시에 수수료를 안내해 드립니다.
                </li>
            </ul>
        </div>
        <section class="fee-guide">
            <!-- 인터넷뱅킹 수수료 -->
        <section class="fee-section">
        <h3 class="fee-title">인터넷뱅킹 수수료</h3>

        <table class="fee-table">
            <colgroup>
            <col style="width:25%">
            <col style="width:25%">
            <col style="width:25%">
            <col style="width:25%">
            </colgroup>
            <thead>
            <tr>
                <th>구분</th>
                <th>세부항목</th>
                <th>수수료</th>
                <th>비고</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="3">이체</td>
                <td>부산은행으로 이체</td>
                <td>무료</td>
                <td></td>
            </tr>
            <tr>
                <td>다른은행으로 이체<br>(개인뱅킹)</td>
                <td>무료</td>
                <td></td>
            </tr>
            <tr>
                <td>다른은행으로 이체<br>(기업뱅킹)</td>
                <td>건당 500원</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">CMS 계좌이체</td>
                <td>별도 약정에 따름</td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="2">자동이체</td>
                <td>부산은행으로 자동이체</td>
                <td>무료</td>
                <td></td>
            </tr>
            <tr>
                <td>다른은행으로 자동이체</td>
                <td>건당 300원</td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="3">외환</td>
                <td>외화 환전</td>
                <td>환율 우대</td>
                <td>USD, JPY : 50% 할인<br>기타통화 : 30% 할인</td>
            </tr>
            <tr>
                <td>국내 외화송금</td>
                <td>환율 우대(30% 할인)</td>
                <td></td>
            </tr>
            <tr>
                <td>국외 외화송금</td>
                <td>환율 우대(30% 할인)<br>전신료 건당 5,000원 할인</td>
                <td></td>
            </tr>
            </tbody>
        </table>
        </section>

        <!-- 공동인증서 수수료 -->
        <section class="fee-section">
        <h3 class="fee-title">공동인증서(구 공인인증서) 발급 수수료</h3>

        <table class="fee-table">
            <colgroup>
            <col style="width:33%">
            <col style="width:33%">
            <col style="width:33%">
            </colgroup>
            <thead>
            <tr>
                <th>구분</th>
                <th>수수료</th>
                <th>비고</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="2">개인<br>(은행/보험용)</td>
                <td>무료</td>
                <td></td>
            </tr>
            <tr>
                <td>4,400원</td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="2">기업<br>(은행/보험용)</td>
                <td>4,400원</td>
                <td></td>
            </tr>
            <tr>
                <td>110,000원</td>
                <td></td>
            </tr>
            </tbody>
        </table>
        </section>
        </section>
    </main>
</div>

<div th:replace="~{cs/_tail.html}"></div>
  </body>
</html>





