<!-- Header 부분 -->
<header th:fragment="headerFragment" class="header">
    <!-- 상단 유틸 -->
    <article class="util">
        <div class="container util_row">
            <a th:href="@{/}" class="util_logo" aria-label="부산은행 홈">
                <img class="logo-img" th:src="@{/images/main/Busanbank_logo.png}" alt="부산은행 로고"></img>
            </a>
            <div class="util_name">금융상품</div>
            <div class="util_spacer"></div>
            <a href="#">로그인</a>
            <a href="#">고객센터</a>
            <a th:href="@{/company/companyintro}">은행소개</a>
            <a href="#">Global <i class="xi-caret-down-min"></i></a>
            <i class="xi-search"></i>
        </div>
    </article>

    <!-- GNB -->
    <article class="gnb">
        <div class="container gnb_row">

            <nav class="menu">

                <!-- 예금 -->
                <div class="menu-item" data-menu="예금상품">
                    <a href="#" class="menu-active">예금상품</a>
                    <div class="submenu">
                        <a href="#">전체상품</a>
                        <a href="#">입출금자유</a>
                        <a href="#">일임형 ISA</a>
                        <a href="#">목돈만들기</a>
                        <a href="#">목돈굴리기</a>
                        <a href="#">주택마련</a>
                        <a href="#">스마트금융전용</a>
                        <a href="#">세테크</a>
                        <a href="#">복합금융상품</a>
                        <a href="#">판매중지상품</a>
                    </div>
                </div>

                <!-- 예금이용가이드 -->
                <div class="menu-item" data-menu="예금이용가이드">
                    <a href="#">예금이용가이드</a>
                    <div class="submenu">
                        <a href="#">금융소득종합과세</a>
                        <a href="#">예금 FAQ</a>
                    </div>
                </div>

                <!-- 금융서비스 -->
                <div class="menu-item" data-menu="금융서비스">
                    <a href="#">금융서비스</a>
                    <div class="submenu">
                        <a href="#">금융 감정 분석</a>
                        <a href="#">주거래고객우대통장</a>
                        <a href="#">예금보험제도</a>
                        <a href="#">증권계좌개설서비스</a>
                        <a href="#">대여금고이용안내</a>
                        <a href="#">전자어음이용안내</a>
                    </div>
                </div>

                <!-- 금융퀴즈 -->
                <div class="menu-item" data-menu="금융퀴즈">
                    <a th:href="@{/quiz/quizdashboardcomplete}">금융퀴즈</a>
                    <div class="submenu">
                        <a th:href="@{/quiz/quizdashboardcomplete}">퀴즈 홈</a>
                        <a th:href="@{/quiz/quizsolvecomplete}">퀴즈 풀기</a>
                        <a th:href="@{/quiz/quizresultcomplete}">내 결과</a>
                    </div>
                </div>
            </nav>

            <div class="gnb_text">
                <a href="#">금융을 편리하게. 미래를 풍요롭게.</a>
            </div>
        </div>
    </article>

    <!-- GNB-SUB -->
    <article class="gnb_sub">
        <div class="container gnb_sub_row">
            <a href="#" class="breadcrumb">예금상품<i class="xi-angle-right-min"></i></a>
            <a href="#" class="breadcrumb">전체상품<!--<i class="xi-angle-right-min"></i>--></a>
            <!--<a href="#" class="breadcrumb">사장님 월급통장</a>-->
        </div>
    </article>
</header>
<!-- Header 끝 -->