
.login-active{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.login-active a{
    cursor: pointer;
}

.login-active a:hover{
    text-decoration: underline;
}

.session-box{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 2px solid var(--purple-900);
    width: 130px;
    height: 35px;
}

.session-box button{
    width: 50px;
    height: 31px;
    border: none;
    outline: none;

    font-size: 16px;
    font-weight: 500;

    color: white;
    background-color: var(--grey-700) ;
    cursor: pointer;
    padding: 4px;
}

.session-box p{
    color: var(--grey-900);
    padding: 5px;

    font-size: 18px;
    font-weight: 600;
}
